/*Mi paleta de colores: 
#550445 Morado puro
#8b3d78 Morado claro
#c96588 Rosa puro
#e691c7 Rosa claro
#5f73b3 Celeste puro*/

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #8b3d78;
}
